<div class="containter-fluid">

  <div class="row m-0 d-flex align-items-center">

    <div class="col-md-6">
      <div class="row d-flex justify-content-center">
        <div class="col-mg-6">

          <h1 class="text-center mb-3 display-3">Entrar</h1>
          <div class="form-group">
            <label for="">Usuário:</label>
            <input type="text" class="form-control" placeholder="Seu usuário">
          </div>
          <div class="form-group">
            <label for="">Senha:</label>
            <input type="password" class="form-control" placeholder="Sua senha">
          </div>

          <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-outline-success">Entrar</button>
          </div>

          <hr class="mt-5 mb-5">

          <p>Não tem uma conta? <a routerLink="/register">Cadastre-se</a></p>

        </div>
      </div>
    </div>

    <div class="col-md-6 img-bg"></div>

  </div>

</div>
