<div class="container-fluid">
  <div class="row bg-secondary d-flex align-items-center">
    <div class="col-md-6 text-light">
      <div class="row d-flex justify-content-center">
        <div class="col-md-8">
          <h1 class="display-1">Seja bem <br> vindo (a)!</h1>
        </div>
        <div class="col-md-8 d-flex justify-content-start">
          <h2>Solta o verbo ai!</h2>
        </div>
      </div>
      <div class="row d-flex justify-content-center">
        <div class="col-md-8 d-flex justify-content-center mr-5 mt-2">
          <button class="btn btn-light mr-5" data-toggle="modal" data-target="#newPost">Nova Postagem</button>
          <a class="btn btn-outline-light mr-5 ml-5" href="#posts">Ver Postagens</a>

        </div>
      </div>

    </div>
    <div class="col-md-6 d-flex justify-content-center">
      <img src="https://i.imgur.com/f0j85Ib.png" width="500px" alt="">
    </div>
  </div>
</div>


<div class="container-fluid">

  <div class="row d-flex justify-content-center mb-3 mt-3" id="posts">
    <div class="col-md-10">

      <ul class="nav nav-tabs d-flex justify-content-center" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <a class="nav-link active text-secondary font-weight-bold" id="allPosts-tab" data-toggle="tab"
            href="#allPosts" role="tab" aria-controls="allPosts" aria-selected="true">Todas as Postagens</a>
        </li>
        <li (click)="findByIdUser()" class="nav-item" role="presentation">
          <a class="nav-link text-secondary font-weight-bold" id="myPosts-tab" data-toggle="tab" href="#myPosts"
            role="tab" aria-controls="myPosts" aria-selected="false">Minhas Postagens</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link text-secondary font-weight-bold" id="postsTheme-tab" data-toggle="tab" href="#postsTheme"
            role="tab" aria-controls="postsTheme" aria-selected="false">Postagens por tema</a>
        </li>
      </ul>

      <div class="tab-content" id="myTabContent">

        <div class="tab-pane fade show active" id="allPosts" role="tabpanel" aria-labelledby="allPosts-tab">

          <div class="row d-flex flex-wrap mt-3">
            <div class="col-md-12" *ngFor="let post of posts | orderBy : key : reverse">
              <div class="border rounded mb-5">
                <div class="list-group card-list-group">
                  <div class="list-group-item py-5">
                    <div class="media">
                      <div class="media-object avatar avatar-md mr-3 ">
                        <img width="100px" src="{{post.creator.picture}}" alt="foto">
                      </div>
                      <div class="media-body">
                        <div class="media-heading">
                          <small class="float-right">{{post.date | date: 'dd/MM/yyyy'}} às {{post.date | date:
                            'HH:mm'}}</small>
                          <h4>{{post.creator.name}}</h4>
                        </div>
                        <div class="font-weight-bold font-mariele-b text-break">
                          <h5 class="mt-3">{{post.title}}</h5>
                        </div>
                        <div class="text-small text-muted text-break">
                          <p>{{post.text}}</p>
                        </div>
                        <div class='align-self-end'>
                          <i class="fa fa-tags radius p-2 bg-gray" aria-hidden="true"> {{post.theme.description}}</i>
                        </div>
                        <p>Comentarios</p>
                        <div class="border mb-1" *ngFor=" let comment of post.comments ">
                          <div class="d-flex align-items-center">
                            <div><img width="35px" class=" rounded-circle m-1 ml-1" src="{{comment.user.picture}}" alt=""></div>
                            <div><p class="card-text ml-2">{{ comment.user.name }}</p></div>

                          </div>
                          <p class="card-text mt-1 ml-5">{{ comment.comment }}</p>
                        </div>
                        <input [ngModel]="commentText" id="comment{{post.id}}" class="form-control" name="comentario"
                          type="text" placeholder="Comentar...">
                        <button class="btn-success" (click)="comment(post.id)">Comentar</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- <div class="card-columns mt-4">
            <div *ngFor="let item of posts" class="card text-center">
              <div class="card-header text-left"><img src="{{ item.creator.picture }}" width="20px" alt=""
                  class=" mr-1">
                {{ item.creator.name }}</div>
              <div class="card-body">
                <h5 class="card-title mb-0">{{ item.title }}</h5>
                <small class="text-muted">Tema: {{ item.theme.description }}</small>
                <p class="card-text mt-3">{{ item.text }}</p>
                <div *ngFor=" let comment of item.comments">
                  <p class="card-text mt-3">{{ comment.comment }}</p>
                  <p class="card-text mt-3">{{ comment.user.name }}</p>
                </div>
                <p class="card-text"><small class="text-muted">{{ item.date | date: 'dd/MM/yyyy' }} às
                    {{ item.date | date: 'HH:mm' }}</small></p>
              </div>
            </div>
          </div> -->

        </div>

        <div class="tab-pane fade" id="myPosts" role="tabpanel" aria-labelledby="myPosts-tab">

          <div class="card-columns mt-4">
            <div *ngFor="let item of user.myPosts" class="card text-center">
              <div class="card-header text-left"><img src="{{ user.picture }}" width="20px" alt="" class=" mr-1">
                {{ user.name }}</div>
              <div class="card-body">
                <h5 class="card-title mb-0">{{ item.title }}</h5>
                <small class="text-muted">Tema: {{ item.theme.description }}</small>
                <p class="card-text mt-3">{{ item.text }}</p>
                <p class="card-text"><small class="text-muted">{{ item.date | date: 'dd/MM/yyyy' }} às
                    {{ item.date | date: 'HH:mm' }}</small></p>
                <a [routerLink]="['/post-edit', item.id]" class="text-info mr-3">Editar</a>
                <a [routerLink]="['/post-delete', item.id]" class="text-danger">Apagar</a>
              </div>
            </div>
          </div>

        </div>

        <div class="tab-pane fade" id="postsTheme" role="tabpanel" aria-labelledby="postsTheme-tab">

          <div *ngFor="let theme of themeList" class="card-columns mt-4">
            <h2>{{theme.description}}</h2>
            <div *ngFor="let item of theme.posts" class="card text-center">

              <div class="card-header text-left"><img src="{{ item.creator.picture }}" width="20px" alt=""
                  class=" mr-1">
                {{ item.creator.name }}</div>
              <div class="card-body">
                <h5 class="card-title mb-0">{{ item.title }}</h5>
                <small class="text-muted">Tema: {{ theme.description }}</small>
                <p class="card-text mt-3">{{ item.text }}</p>
                <p class="card-text"><small class="text-muted">{{ item.date | date: 'dd/MM/yyyy' }} às
                    {{ item.date | date: 'HH:mm' }}</small></p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="newPost" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Nova Postagem</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="">Titulo:</label>
            <input [(ngModel)]="post.title" name="title" type="text" class="form-control" placeholder="Digite o titulo">
          </div>
          <div class="form-group">
            <label for="">Texto:</label>
            <textarea [(ngModel)]="post.text" name="text" class="form-control" rows="4"
              placeholder="Digite o texto"></textarea>
          </div>
          <div class="form-group">
            <label for="">Escolha um tema ou <a data-dismiss="modal" routerLink="/theme">cadastre um novo</a>:</label>
            <select name="theme" id="theme" [(ngModel)]="idTheme" (change)="findByIdTheme" class="form-control">
              <option *ngFor="let item of themeList" value="{{ item.id }}">{{ item.description }}</option>
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="publish()" data-dismiss="modal">Postar</button>
      </div>
    </div>
  </div>
</div>
